<meta charset="utf-8">
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<title>
  {% if page.title %}
    {{ page.title }} &middot; {{ site.title }}
  {% else %}
    {{ site.title }} &middot; {{ site.description }}
  {% endif %}
</title>


<script src='https://api.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.css' rel='stylesheet' />

<!-- Bootstrap core CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Krona+One|Work+Sans" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">

<!-- Favicons -->
<!-- <link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png"> -->
<!-- <link rel="icon" href="{{ site.baseurl }}/favicon.ico"> -->
