<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="page single post-type-event">

    {% include header.html %}

    <main class="" id="content">
      <section class="single post-type-event">

        <div class="post-header-wrapper">

          <img src="{{site.baseurl}}/assets/img/events/{{page.images.header}}" class="img-fluid" style="width: 100%;">

          <div class="container">
            <div class="backlink">
              <a href="{{site.baseurl}}\programma">&larr; Volledig programma</a>
            </div>
            <div class="post-type">Event</div>
            <h1 class="page-title">{{page.title}}</h1>
          </div>
        </div>

        <div class="post-content-wrapper">
          <div class="container">
            <div class="row">
              <div class="col post-details">
                <div class="event-details-section event-dates">
                  {% for day in page.event_dates %}
                    {{day.day}}: {{day.time_start}} - {{day.time_end}} <em>{{day.notes}}</em><br>
                  {% endfor %}
                </div>

                <div class="event-details-section event-tickets">
                  <h3>Reserveren</h3>
                  {% if page.bookings.bookable %}
                    <div class="ticket-box">
                      <a class="btn btn-primary" href="{{page.bookings.link}}">Ticket bestellen</a>
                    </div>
                  {% else %}
                    <p>Reserveren is niet nodig</p>
                  {% endif %}
                  {{page.bookings.details}}
                </div>

                <div class="event-details-section event-location">
                  <h3>Locatie</h3>
                  {% assign m = site.locations | where: "uid", {{page.venue}} %}
                  {% for post in m %}
                    {% assign venue = post %}
                    <a href="{{post.permalink}}">
                      <img src="{{post.img_header}}" class="img-fluid" style="width: 150px"><br>
                      {{post.title}}
                      {{post.address}}
                    </a>
                  {% endfor %}
                </div>
                <div class="event-details-section event-links">
                  {% for link in page.links %}
                    <a href="http://{{link}}">{{link}}</a><br>
                  {% endfor %}
                </div>
              </div>
              <div class="col post-content">
                {{content}}
                <div class="involved-makers">
                  <h4>Betrokken makers and partners</h4>
                  <div class="row makers">
                    {% for maker in page.makers %}
                      {% assign m = site.makers | where: "uid", maker %}
                      {% for post in m %}
                        <div class="col-3">
                          <a href="{{post.permalink}}">
                            <img src="{{site.baseurl}}/assets/img/makers/{{post.images.portrait}}" class="img-fluid"><br>
                            {{post.name}}
                          </a>
                        </div>
                      {% endfor %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="container">

            </div>
          </div>

        </div> <!-- end post-content-wrapper -->
      </section>
    </main>

    {% include footer.html %}
  </body>
</html>
